$color_1: #999;
$color_2: #FFF;
$search-text-color: #{'#FFFA'};
$font-family_1: inherit;
$font-family_2: "Nunito", "Simple-Keyboard";
$font-family_3: "Nunito";
$background-color_1: #fff;
$background-color_2: #FFF;
$background-color_3: transparent;
$background-color_4: #FFF2;
$background-color_5: #FFF3;
$background-color_6: #444;
$search-background-color: #fff2;
$border-color_1: #fff;
$border-color_2: #fff;
$border-color_3: #fff;
$border-color_4: #ccc;
$arrow-color: #fff;

@import 'overlayscrollbars';

.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #222222;
	color: #ffffff;
	border-radius: 6px;
	border: 1px solid transparent;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	font-family: 'Nunito';
	font-size: 14px;
	font-weight: 500;
	height: 30px !important;
	line-height: 30px;
	outline: none;
	padding: 0px 32px 0px 8px;
	position: relative;
	text-align: left !important;
	transition: all 0.4s ease-in-out;
	user-select: none;
	white-space: nowrap;
	width: max-content;
	min-width: fit-content;

	&:hover {
		border-color: $border-color_1;
	}

	&:active {
		border-color: $border-color_2;
	}

	&:focus {
		border-color: $border-color_2;
	}

	.current{
		pointer-events: none;
		&.placeholder {
			opacity: 0.5;
		}
	}

	&::after {
		width: 12px;
		height: 28px;
		opacity: 1;
		content: "";
		position: absolute;
		right: 10px;
		top: 0px;
		/* webpackIgnore: true */
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="%23' + str-slice("#{$arrow-color}", 2) + '"><path d="M371.515 229.055L219.516 373.033C211.797 380.344 201.891 384 192 384S172.203 380.344 164.484 373.033L12.485 229.055C-3.546 213.87 -4.233 188.561 10.97 172.532C26.157 156.472 51.485 155.785 67.516 171.001L192 288.921L316.484 171.001C332.499 155.754 357.827 156.441 373.03 172.532C388.233 188.561 387.546 213.87 371.515 229.055Z"/></svg>');
		transform: rotate(0deg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position-y: center;
		transition: all 0.2s ease-in;
		pointer-events: none;
	}

	.optgroup {
		font-weight: bold;
	}

	.list {
		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&.has-multiple {
		// white-space: inherit;
		// height: auto;
		// padding: 7px 12px;
		padding: 0 32px 0 0;
		// min-height: 36px;
		// line-height: 22px;

		span.current {
			// border: 1px solid #ccc;
			background: #444;
			padding: 0 6px;
			border-radius: 3px;
			display: inline-block;
			line-height: 22px;
			font-size: 14px;
			margin-bottom: 0px;
			margin-right: 4px;
		}

		.multiple-options {
			display: block;
			line-height: 28px;
			padding: 0 3px;
			pointer-events: none;
			&.placeholder {
				opacity: 0.5;
				padding: 0 8px;
				line-height: 30px;
			}
		}
	}
}

.nice-select.open {
	border-color: $border-color_2;

	&::after {
		z-index: 10;
		transform: rotate(-180deg);
	}

	.nice-select-dropdown {
		opacity: 1;
		pointer-events: auto;
		transform: scale(1) translateY(0);
	}
}

.nice-select.disabled {
	border-color: $border-color_3;
	color: $color_1;
	pointer-events: none;
}

.nice-select.wide {
	width: 100%;

	.nice-select-dropdown {
		left: 0 !important;
		right: 0 !important;
	}
}

.nice-select.right {
	float: right;

	.nice-select-dropdown {
		left: auto;
		right: 0;
	}
}

.nice-select.small {
	font-size: 12px;
	height: 36px;
	line-height: 34px;

	&:after {
		height: 4px;
		width: 4px;
	}

	.option {
		line-height: 34px;
		min-height: 34px;
	}
}

.nice-select-dropdown {
	font-family: $font-family_2 !important;
	font-size: 14px;
	color: #fff;
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: $border-color_1;
	box-shadow: 0 2px 10px 2px #000;
	box-sizing: border-box;
	position: absolute !important;
	max-height: 0;
	transition-property: max-height, opacity;
	transition-duration: 500ms, 200ms;
	transition-delay: 0ms, 300ms;
	transition-timing-function: ease;
	opacity: 0;
	z-index: 9;
	width: max-content;
	backdrop-filter: brightness(0.6) blur(6px);
	
	.os-scrollbar-vertical {
		top: 2px;
		right: 2px;
		bottom: 2px !important;
		width: 6px !important;
		opacity: 0;

		.os-scrollbar-handle {
			width: 6px !important;
			background-color: $background-color_2;
		}
	}

	.os-scrollbar-track {
		background-color: $background-color_3 !important;
	}
	
	&.opening {
		opacity: 1;
		max-height: 100%;
		transition-property: max-height, opacity;
		transition-duration: 500ms, 500ms;
		transition-delay: 0ms, 0ms;
		transition-timing-function: ease;
		.os-scrollbar-vertical {
			opacity: 0;
			transition-property: opacity;
			transition-duration: 500ms;
			transition-delay: 500ms;
			transition-timing-function: ease;
		}
	}
	
	&.open {
		opacity: 1;
		// max-height: unset;
		transition-property: max-height, opacity;
		transition-duration: 0ms, 200ms;
		transition-delay: 0ms, 0ms;
		transition-timing-function: ease;
		.os-scrollbar-vertical {
			opacity: 1;
			transition-property: opacity;
			transition-duration: 500ms;
			transition-delay: 500ms;
			transition-timing-function: ease;
		}
	}
	
	symbol {
		width: 20px;
		margin-right: 10px;
		text-align: center;
	}


	.list {
		box-sizing: border-box;
		overflow: hidden;
		padding: 0;
		margin: 0;
		overflow-y: auto;

		&:hover {
			.option.selected {
				&:not(:hover) {
					background-color: $background-color_4 !important;
				}
			}
		}
	}

	.option {
		cursor: pointer;
		font-weight: 400;
		list-style: none;
		outline: none;
		padding: 6px 10px;
		text-align: left;
		transition: all .2s;

		&:hover {
			background-color: $background-color_5;
		}
	}

	.option.focus {
		background-color: $background-color_5;
	}

	.option.selected.focus {
		background-color: $background-color_5;
	}

	.option.selected {
		background-color: $background-color_4;
		font-weight: bold;
	}

	.option.disabled {
		background-color: $background-color_4;
		color: $color_1;
		cursor: default;
	}

	.nice-select-search-box {
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		padding: 3px;
		border-radius: 5px 5px 0 0;

		~ {
			.list {
				margin-top: 36px;
			}

			.os-scrollbar-vertical {
				top: 36px;
			}
		}
	}

	.nice-select-search {
		box-sizing: border-box;
		background-color: $search-background-color;
		border: 1px solid #e8e8e8;
		border-radius: 3px;
		color: $search-text-color;
		display: inline-block;
		vertical-align: middle;
		padding: 1px 6px 0px 26px;
		margin: 0;
		width: 100%;
		line-height: 27px;
		height: 30px;
		outline: 0 !important;
		font-size: 14px;
		font-family: $font-family_3;
		font-weight: 600;
		/* webpackIgnore: true */
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23' + str-slice("#{$search-text-color}", 2) + '"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>');
		background-repeat: no-repeat;
		background-position: left 6px center;
		background-size: 16px;

		&::placeholder {
			color: $search-text-color;
			font-size: 14px;
			font-family: $font-family_3;
		}
	}
}

.no-csspointerevents {
	.nice-select {
		.nice-select-dropdown {
			display: none;
		}
	}

	.nice-select.open {
		.nice-select-dropdown {
			display: block;
		}
	}
}